/* inconsolata-regular - latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/inconsolata-v31-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/inconsolata-v31-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/inconsolata-v31-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/inconsolata-v31-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/inconsolata-v31-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/inconsolata-v31-latin-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

/* bluu-next */
@font-face {
  font-family: 'bluu-next';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/bluu-next/bluunext-titling.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/bluu-next/bluunext-titling.woff') format('woff'), /* Modern Browsers */
       url('fonts/bluu-next/bluuNext-Titling.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/bluu-next/bluunext-bold-webfont.svg#BluuNext') format('svg'); /* Legacy iOS */
}

body {
  font-family: "bluu-next";
}
