<div class="wrapper">
	<div>
		<a href="vert">
		<img src="vert.webp">
		</a>
	</div>
	<div>
		<a href="jaune">
		<img src="jaune.webp">
		</a>
	</div>
	<div>
		<a href="brun">
		<img src="brun.webp">
		</a>
	</div>
	<div>
		<a href="rouge-vert">
		<img src="rouge-vert.webp">
		</a>
	</div>
	<div>
		<a href="jaune2">
		<img src="jaune2.webp">
		</a>
	</div>
	<div>
		<a href="pourriture">
		<img src="pourriture.webp">
		</a>
		</div>
	<div>
		<a href="gelatine">
		<img src="gelatine.webp">
		</a>
		</div>
	<div>
		<a href="violet">
		<img src="violet.webp">
		</a>
	</div>
	<div>
		<a href="bleu">
		<img src="bleu.webp">
		</a>
	</div>
	<div>
		<a href="vert2">
		<img src="vert2.webp">
		</a>
		</div>
	<div>
		<a href="vert3">
		<img src="vert3.webp">
		</a>
	</div>
	<div>
			<a href="tye">
		<img src="tye.webp">
		</a>
	</div>
</div>